<h2><%= currentUser.name %>'s Jokes </h2>
        <% favJokes.forEach(j=>{ %>
            <div class="form-container">
                <h3><%= j.setup %></h3>
                <h3><%= j.punchline %> </h3>
                <form method="POST" action="/favorites/<%=j.id%>/?_method=DELETE">
                    <input id="delete" type="submit" value="Delete">
                </form>
                <form method="GET" action="/favorites/<%j.id%>">
                    <button class="btn-primary" id="view" type="submit" value="View">
                        <a id="seeComments" href="/comments/<%=j.id%>">View</a>
                    </button>
                </form>
                <form method="POST" action="/favorites/<%=j.id%>/?_method=PUT">
                    <label for="comment">good or bad joke?</label>
                    <textarea id="comment" type="text" name="comment"></textarea>
                    <br>
                    <button class="btn-primary" id="comment" type="submit">Submit</button>
                </form>
            </div>
        <% }) %>
    

