<h2><form action="/" method="GET">
    <input type="submit" value="Click for Random Joke">
</form></h2>
<div class="form-container">
    <h4><%= joke.type %> </h4>
    <h3><%= joke.setup %> </h3>
    <h3><%= joke.punchline %> </h3>

    <div class="clickAdd">
        <form action='/favorites' method="POST">
            <input hidden type ="text" name="setup" value="<%=joke.setup %>">
            <input hidden type ="text" name="punchline" value="<%=joke.punchline%>">
            <input type="submit" value="Add to favorite">
        </form>
    </div>
</div>
